<!DOCTYPE html>
<html>
<head>
    <title>Bio Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile">
            <img src="{{ url_for('static', filename='profile_picture.jpeg') }}" alt="Profile Picture">
            <br>Family Time
        </div>
        <div class="details">
            <h1>Md Juyel Haque</h1>
            <p>Sr DevOps Engineer</p>
            <ul>
                <li><strong>Email:</strong> juyel@gmail.com</li>
                <li><strong>Location:</strong> Kolkata, India</li>
            </ul>
        </div>
    </div>
</body>
</html>
